/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import '_sprites.scss';
@import "compass/utilities/color/contrast";
h1 {}

h2 {} 

.mytest {
    width: 200px;
    color: #eee;
}
.mying1{
	width: 300px;
	height: 300px;
	background: sprite($my-icons-sprite,'a11') no-repeat;
}
.mying3{
	width: 300px;
	height: 300px;
	background: sprite($my-icons-sprite,'a33') no-repeat;
}
.mying4{
	width: 300px;
	height: 300px;
	background: sprite($my-icons-sprite,'a4444') no-repeat;
}
.mying5{
	width: 300px;
	height: 300px;
	background: sprite($my-icons-sprite,'a555') no-repeat;
}

$contrasted-dark-default: #333333;
$contrasted-light-default: #e7e7e7;
.ctest1{
@include contrasted(#511210);
}
.ctest2{
@include contrasted(#105813);
}
.ctest3{
@include contrasted(#151053);
}
.ctest4{
@include contrasted(#B96624);
}
.ctest5{
@include contrasted(#312E2E);
}
.ctest6{
@include contrasted(#EBEB1C);
}
.ctest7{
@include contrasted(#571210);
}
.ctest8{
@include contrasted(#581210);
}
