/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
.mytest {
  width: 200px;
  color: #eee;
}

/* line 20, ../sass/screen.scss */
.mying1 {
  width: 300px;
  height: 300px;
  background: url('/images/Sprites-sd1aac17772.png') 0 -2288px no-repeat;
}

/* line 25, ../sass/screen.scss */
.mying3 {
  width: 300px;
  height: 300px;
  background: url('/images/Sprites-sd1aac17772.png') 0 0 no-repeat;
}

/* line 30, ../sass/screen.scss */
.mying4 {
  width: 300px;
  height: 300px;
  background: url('/images/Sprites-sd1aac17772.png') 0 -1884px no-repeat;
}

/* line 35, ../sass/screen.scss */
.mying5 {
  width: 300px;
  height: 300px;
  background: url('/images/Sprites-sd1aac17772.png') 0 -1024px no-repeat;
}

/* line 43, ../sass/screen.scss */
.ctest1 {
  background-color: #511210;
  color: #e7e7e7;
}

/* line 46, ../sass/screen.scss */
.ctest2 {
  background-color: #105813;
  color: #e7e7e7;
}

/* line 49, ../sass/screen.scss */
.ctest3 {
  background-color: #151053;
  color: #e7e7e7;
}

/* line 52, ../sass/screen.scss */
.ctest4 {
  background-color: #b96624;
  color: #333333;
}

/* line 55, ../sass/screen.scss */
.ctest5 {
  background-color: #312e2e;
  color: #e7e7e7;
}

/* line 58, ../sass/screen.scss */
.ctest6 {
  background-color: #ebeb1c;
  color: #333333;
}

/* line 61, ../sass/screen.scss */
.ctest7 {
  background-color: #571210;
  color: #e7e7e7;
}

/* line 64, ../sass/screen.scss */
.ctest8 {
  background-color: #581210;
  color: #e7e7e7;
}

/* line 67, ../sass/screen.scss */
.g-clearfix {
  border: 1px solid #000000;
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.g-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* line 71, ../sass/screen.scss */
.g-clearfix > div {
  width: 300px;
  height: 200px;
  margin: 10px;
}
/* line 78, ../sass/screen.scss */
.g-clearfix .g-clearfix1 {
  background-color: #105813;
  color: #e7e7e7;
  display: inline;
  float: left;
  margin-left: 100px;
  width: 300px;
}
/* line 84, ../sass/screen.scss */
.g-clearfix .g-clearfix2 {
  background-color: #105813;
  color: #e7e7e7;
  width: 300px;
  display: inline;
  float: right;
  margin-right: 100px;
}
/* line 90, ../sass/screen.scss */
.g-clearfix .g-clearfix3 {
  background-color: #105813;
  color: #e7e7e7;
  width: 300px;
}
/* line 94, ../sass/screen.scss */
.g-clearfix .g-clearfix4 {
  background-color: #105813;
  color: #e7e7e7;
}

/* line 99, ../sass/screen.scss */
.m-width {
  min-width: 200px;
  width: auto !important;
  width: 200px;
  background-color: #105813;
  color: #e7e7e7;
  display: inline-block;
}

/* line 104, ../sass/screen.scss */
.m-height {
  min-height: 200px;
  height: auto !important;
  height: 200px;
  background-color: #101813;
  color: #e7e7e7;
}

/* line 108, ../sass/screen.scss */
.mycloudtag {
  font-size: 1em;
  line-height: 1.2em;
}
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .xxs, .mycloudtag .xs, .mycloudtag .s, .mycloudtag .l, .mycloudtag .xl, .mycloudtag .xxl {
  line-height: 1.2em;
}
/* line 7, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .xxs {
  font-size: 0.5em;
}
/* line 9, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .xs {
  font-size: 0.66667em;
}
/* line 11, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .s {
  font-size: 0.75em;
}
/* line 13, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .l {
  font-size: 1.33333em;
}
/* line 15, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .xl {
  font-size: 1.5em;
}
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_tag-cloud.scss */
.mycloudtag .xxl {
  font-size: 2em;
}

/* line 113, ../sass/screen.scss */
.table1 table {
  border: 2px solid black;
}
/* line 14, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table th, .table1 table td {
  border-right: 1px solid #7a98c6;
  border-bottom: 1px solid #7a98c6;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table th:last-child, .table1 table th.last, .table1 table td:last-child, .table1 table td.last {
  border-right-width: 0px;
}
/* line 29, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table tbody tr:last-child th, .table1 table tbody tr:last-child td, .table1 table tfoot tr:last-child th, .table1 table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table tbody tr.last th, .table1 table tbody tr.last td, .table1 table tfoot tr.last th, .table1 table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 4, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table thead th {
  border-bottom: 2px solid black;
}
/* line 7, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table tfoot th, .table1 table tfoot td {
  border-top: 2px solid black;
}
/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table1 table th:first-child {
  border-right: 2px solid black;
}

/* line 2, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.table2 table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.table2 table td,
.table2 table th {
  padding: 2px;
}
/* line 8, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.table2 table td.numeric,
.table2 table th.numeric {
  text-align: right;
}

/* line 2, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table th {
  background-color: white;
}
/* line 4, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table th.even, .table3 table th:nth-child(2n) {
  background-color: #dddddd;
}
/* line 8, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tr.odd td, .table3 table tr:nth-child(2n+1) td {
  background-color: #98c67a;
}
/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tr.odd td.even, .table3 table tr.odd td:nth-child(2n), .table3 table tr:nth-child(2n+1) td.even, .table3 table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #76a458;
}
/* line 14, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tr.even td {
  background-color: #7a98c6;
}
/* line 16, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tr.even td.even, .table3 table tr.even td:nth-child(2n) {
  background-color: #5876a4;
}
/* line 19, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tfoot th, .table3 table tfoot td {
  background-color: white;
}
/* line 21, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table3 table tfoot th.even, .table3 table tfoot th:nth-child(2n), .table3 table tfoot td.even, .table3 table tfoot td:nth-child(2n) {
  background-color: #dddddd;
}

/* line 132, ../sass/screen.scss */
.t1 li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 136, ../sass/screen.scss */
.t2 {
  list-style: none;
}
/* line 11, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.t2 li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 139, ../sass/screen.scss */
.t3 {
  margin-left: 0;
}
/* line 29, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.t3 li {
  padding-left: 8;
  background: url('/images/gotop.png?1404825960') no-repeat 1.5px 12.5px;
  list-style-type: none;
}

/* line 142, ../sass/screen.scss */
.t4 {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.t4 li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 48, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.t4 li:first-child, .t4 li.first {
  padding-right: 0;
}
/* line 49, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.t4 li:last-child {
  padding-left: 0;
}
/* line 50, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.t4 li.last {
  padding-left: 0;
}

/* line 145, ../sass/screen.scss */
.t5 {
  list-style-type: none;
}
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.t5, .t5 li {
  margin: 0px;
  padding: 0px;
  display: inline;
}

/* line 148, ../sass/screen.scss */
.t6 {
  list-style-type: none;
}
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.t6, .t6 li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.t6 li:after {
  content: "|";
}
/* line 31, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.t6 li:last-child:after {
  content: "";
}
/* line 34, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.t6 li.last:after {
  content: "";
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
